# Auto detect text files and perform LF normalization
* text=auto
Assets/CombatGirlsCharacterPack/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/FourEvilDragonsPBR/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/FourEvilDragonsPBR/Texture/DragonUsurper/Red/*.png filter=lfs diff=lfs merge=lfs -text
Assets/UNI[[:space:]]VFX/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Map/Garbage_Truck/**/*.tga filter=lfs diff=lfs merge=lfs -text
Assets/Map/RustyCarsFree/**/*.fbx filter=lfs diff=lfs merge=lfs -text
